Package: com.noxlab.miao
Name: Miao
Version: 0.8.6
Architecture: iphoneos-arm64
Description: HID screen+contextId from SB/backboardd so taps reach Safari.
Maintainer: noxlab
Author: noxlab
Section: Tweaks
Depends: firmware (>= 15.0)
